<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll"  thread-count="1" parallel="methods" preserve-order="true">
  <test name="UniSuper Assignment">
	<classes>
		<class name="com.unisuper.assignment.Angular.Test.TestClass" >
		    
		    <methods>
		        <include name="AddTodo"/>
		        <include name="EditExistingTodo"/>
		        <include name="CompleteTodo"/>
		        <include name="ReactivateCompleteTodo"/>
		        <include name="Add2Todo"/>
		        <include name="CompleteALLTodo"/>
		        <include name="CompleteTodoFilter"/>
		        <include name="DeleteTodo"/>
		        <include name="DeleteAllTodo"/>
		        
		    </methods>
		</class>
	</classes>
  </test>
</suite>
